* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*font-family: sans-serif;*/
}

/* ---- .element-item ---- */

.element-item > h4 {
  text-align: center;
}

.element-item > img {
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element-item {
  position: relative;
  float: left;
  width: 300px;
  /*height: 100px;*/
  /*margin: 5px;
  padding: 10px;*/

  /*background: #888;*/
  color: #262524;
  border-style: solid;
  border-width: 5px;
  border: 2px solid;
  /*border-radius: 25px;*/
}

.element-item > * {
  margin: 0;
  padding: 0;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.isotope {
  /*border: 1px solid #333;*/
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}


